.center-img {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
}
img {
  border-radius: 20px;
}
.centrado {
  color: white;
  position: absolute;
  margin-block-end: 5px;
}

body {
  text-align: center;
}

h2 {
  text-align: center;
  color: orange;
}

h1 {
  text-align: center;
}

.button {
  button {
    display: block;
    padding: 0.5rem 1rem;
    width: 200px;
    margin: 0 auto;
    background-color: white;
    border-radius: 0 300px 300px 300px;
    color: orange;
    border-color: orange;
  }
}

* {
  font-family: 'Nunito';
}

header {
  display: flex;
  justify-content: space-between;
  margin-inline-end: 30px;
}

.column {
  width: 100%;
}
@media (max-width: 300px){
  .modal-ancho{ 
    width: 90%;
  }
